Employee Info
=============
{{#employees}}
Name: {{name}}
DOB: {{dob}}
Position: {{position}}
Salary: ${{salary}}
Vacation days left: {{vacationDaysLeft}}

{{/employees}}

Report generated: {{timeGenerated}}
